{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="span4">
            <div class="alert alert-danger">
                <strong>出错了/(ㄒoㄒ)/~~</strong>&nbsp;&nbsp;
            </div>
            <img src="{% static 'images/404.png' %}">
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <a href='#' onClick='history.back(-1);'> <span class="glyphicon glyphicon-menu-left"></span><strong>返回上一页</strong></a>
    </div>
</div>  
</body>
</html>

